.AddItem {
  color: whitesmoke;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  .form-container {
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    .Item:hover {
      cursor: default;
    }
  }
  .form-buttons {
    display: flex;
    justify-content: space-evenly;
  }
}