.Item {
  font-family: 'Quicksand', sans-serif;
  margin: 1rem;
  transition: all ease-in-out 200ms;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 2px 40px 5px rgba(0,0,0,1);
    transform: scale(1.05);
  }
  &:focus-within {
    z-index: 10;
  }
}
