<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    IKEA store
</head>
<body>
<div>
    <a href="/">Products</a>
    <a href="/cart">Your cart </a>
</div>
<% if(products.length === 0) { %>
    <p>No products available </p>
<% } else { %>
<table>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Available</th>
        <th></th>
    </tr>
    <% for (product of products) { %>
        <tr>
            <td><%= product.name %></td>
            <td><%= product.price %> zł</td>
            <td style="text-align:center" ><%= product.count %></td>

            <td>
                <form action="/addToCart" method="POST">
                    <input type="hidden" name="id" value="<%= product._id %>">
                    <button type="submit">Add to cart</button>
                </form>
            </td>
        </tr>
    <% } }%>
</table>
</body>
</html>
