.Item {
  font-family: 'Quicksand', sans-serif;
  margin: 1rem;
  overflow: hidden;
  transition: all ease-in-out 200ms;

  .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 40px 5px rgba(0, 0, 0, 1);
    transform: scale(1.05);
  }

  &:focus-within {
    z-index: 10;
  }
}
