.Welcome {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  overflow: auto;

  & h1 {
    font-size: 4rem;
  }
}

.Welcome-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Welcome-logo {
    animation: Welcome-logo-spin infinite 10s linear;
    margin-bottom: 4rem;
    color: goldenrod;
  }
}

.Welcome-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes Welcome-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

