body {
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
  overflow: hidden;
  background-color: #282c34 !important;
}

code {
  font-family: source-code-pro, óMenlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#root > div {
  width: 100%;
  height: 100%;
}
