body {
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
  overflow: hidden;
  background-color: #282c34 !important;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  border-top: 1px solid rgba(whitesmoke, 1) !important;
}

#root > div {
  width: 100%;
  height: 100%;
}
